@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
img{
  vertical-align: middle;
}
a,a:hover,a:focus{
  text-decoration: none;
}
ul,ol{
  list-style: none;
}
ul,ol,li,h1,h3,h2,h4,h5,h6,p,a{
margin: 0;
padding: 0;
}
.clr{
  clear:both
}
h1{ 
  font-size:70px;
}
h2{ 
  font-size:60px;
  color: var(--color-light);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-bottom: 90px;
}
h3{ 
  font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 20px;
    color: var(--color-light);
}
h4{ 
  font-size:40px;
}
h5{ 
  font-size:18px;
    color:var(--color-primary);
    letter-spacing: 1px;
    display: block;
    line-height: 14px;
    margin-bottom: 10px;
    text-align: center
}
h6{ 
  font-size:20px;
}
p{
  font-size: 16px;
    line-height: 28px;
    color: var(--color-light);
    margin-bottom: 22px;
    transition: var(--transition);
}
.main{
    background: var( --body-collor);
  }


  // font-family: 'Montserrat', sans-serif;